@inherits TodosBase


<div class="body-container" >
   <h1><span class="oi oi-task"/> Todos</h1>
        <div>
             <EditForm Model="@CreateDto" OnValidSubmit="()=>AddItem(CreateDto)">
        <input class="task-input" type="text" placeholder="What needs to be done?" 
            @bind-value="@CreateDto.Task"/>
            </EditForm>
            </div> 
    <div class="task-container">
        @if (Todos.Count > 0)
        {
            <div>
                <div>
                    <span>All: @Todos.Count</span>
                    <span>Completed: @Todos.Where(item=>item.IsCompleted==true).Count()</span>
                    <span>Pending: @Todos.Where(item=>item.IsCompleted==false).Count()</span>
                </div>
                @foreach (var task in Todos)
                {
                    <table class="table"> 
                        <tbody>
                            <tr>
                                <td style="display: flex; justify-content: space-between">
                                   <div>
                                  <input type="checkbox" @bind="@task.IsCompleted"/> 
                                   <span>@task.Task </span> 
                                   </div>
                                    <span class="oi oi-trash" @onclick="()=>RemoveItem(task)" /> 
                                </td>
                            </tr>
                        </tbody>

                    </table>
                }
            </div>
        }
    </div>
</div>
